---
const PROJECTS = [
{
        title: "TOSHIBA",
        description: "Como parte de mi experiencia laboral en Toshiba México, tuve la oportunidad de liderar el desarrollo completo del sitio web corporativo de la empresa. El objetivo era la presencia digital de Toshiba en México, mientras se alineaba con los estándares globales de la marca.",
        link: "https://www.toshiba.com.mx/",
        image: "/Proyectos/Captura Toshiba.png"
      
    },
    {
        title: "Web App - Banco Azteca",
        description: "Tuve la oportunidad de liderar el desarrollo de una aplicación web para su sistema de regalos. El objetivo era mejorar la experiencia del cliente al permitirles canjear puntos por productos de manera rápida y eficiente, mientras se alineaba con los estándares corporativos de la institución.",
        link: "https://www.bancoazteca.com.mx/",
        image: "/Proyectos/Captura Banco Azteca.png"
       
    },
    {
        title: "Electrica San Miguel",
        description: "Lideré el diseño y la implementación del portal corporativo de Eléctrica San Miguel, una empresa especializada en suministros eléctricos e iluminación. El objetivo fue crear una plataforma intuitiva y visualmente atractiva que destacara su amplio catálogo de productos, marcas asociadas y servicios diferenciadores (asesoría técnica, capacitaciones y blog).",
        link: "https://electrica-sanmiguel.com/",
      
        image: "/Proyectos/Captura Electrica San miguel.png",
      
    },
    {
        title: "Bove",
        description: "Lideré la implementación del sitio web corporativo de Bové, una empresa mexicana dedicada a la producción de lácteos orgánicos y artesanales. El objetivo fue crear una plataforma digital que reflejara su compromiso con la calidad, la sostenibilidad y los métodos tradicionales, mientras ofrecía información clara sobre sus productos y procesos de producción.",
        link: "https://bove.com.mx/",
        image: "/Proyectos/Captura Bove.png",
    
    },
    {
        title: "Proyecto 5",
        description: "Descripción del proyecto 5. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        link: "#",

        image: "https://via.placeholder.com/300x200",
        
    },
    {
        title: "Proyecto 6",
        description: "Descripción del proyecto 6. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        link: "#",
      
        image: "https://via.placeholder.com/300x200",
       
    }
]
---

<div class="mx-auto w-full place-content-center mt-6" id="Proyectos">
    <h2 class="text-3xl font-semibold mb-6 text-white/80 flex items-center gap-x-2">
        <svg 
            xmlns="http://www.w3.org/2000/svg" 
            class="size-8" 
            viewBox="0 0 24 24" 
            fill="none" 
            stroke="currentColor" 
            stroke-linecap="round" 
            stroke-linejoin="round" 
            stroke-width="2"
        > 
            <path d="M3 9a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
            <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2"></path>
        </svg>
        Todos los Proyectos
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 p-6 gap-6 mt-6">
        {
            PROJECTS.map(({ title, description, link, image }) => (
                <article class="bg-white/5 border border-white/10 rounded-lg overflow-hidden hover:scale-105 transition">
                    <img 
                        class="aspect-video w-full object-cover"
                        src={image} 
                        alt={`Captura de pantalla del proyecto ${title}`}
                    />
                    <div class="p-4">
                        <h3 class="text-xl font-semibold text-white mb-2">
                            {title}
                        </h3>
                        <p class="text-white/60 text-wrap mb-4">
                            {description}
                        </p>
                      
                        <div class="flex gap-x-4">
                        
                            <a 
                                href={link}
                                class="bg-white/5 border border-white/10 rounded-full py-2 px-4 flex items-center gap-x-2 hover:scale-110 hover:bg-white/10 transition"
                            >
                                <svg 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    class="size-4" 
                                    viewBox="0 0 24 24" 
                                    fill="none" 
                                    stroke="currentColor" 
                                    stroke-width="2" 
                                    stroke-linecap="round" 
                                    stroke-linejoin="round"
                                >
                                    <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                                    <polyline points="15 3 21 3 21 9"></polyline>
                                    <line x1="10" y1="14" x2="21" y2="3"></line>
                                </svg>
                                Visitar
                            </a>
                        </div>
                    </div>
                </article>
            ))
        }
    </div>
</div>