---
const PROJECTS = [
    {
        title: "Proyecto 1",
        description: "Descripci贸n del proyecto 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        link: "#",
        github: "#",
        image: "https://via.placeholder.com/300x200",
        tags: ["HTML", "CSS", "JavaScript"]
    },
    {
        title: "Proyecto 2",
        description: "Descripci贸n del proyecto 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        link: "#",
        github: "#",
        image: "https://via.placeholder.com/300x200",
        tags: ["React", "Node.js", "MongoDB"]
    },
    {
        title: "Proyecto 2",
        description: "Descripci贸n del proyecto 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        link: "#",
        github: "#",
        image: "https://via.placeholder.com/300x200",
        tags: ["React", "Node.js", "MongoDB"]
    },
    {
        title: "Proyecto 2",
        description: "Descripci贸n del proyecto 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        link: "#",
        github: "#",
        image: "https://via.placeholder.com/300x200",
        tags: ["React", "Node.js", "MongoDB"]
    }
   
]
---

<div class="mx-auto w-full lg:w-[740px] place-content-center pt-20" id="Proyectos">
    <h2 class="text-3xl font-semibold mb-6 text-white/80 flex items-center gap-x-2">
        <svg 
            xmlns="http://www.w3.org/2000/svg" 
            class="size-8" 
            viewBox="0 0 24 24" 
            fill="none" 
            stroke="currentColor" 
            stroke-linecap="round" 
            stroke-linejoin="round" 
            stroke-width="2"
        > 
            <path d="M3 9a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
            <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2"></path>
        </svg>
        Proyectos
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 mb-10 gap-6 mt-6">
        {
            PROJECTS.map(({ title, description, link, github, image, tags }) => (
                <article class="bg-white/5 border m-1 border-white/10 rounded-lg overflow-hidden hover:scale-105 transition">
                    <img 
                        class="aspect-video w-full object-cover"
                        src={image} 
                        alt={`Captura de pantalla del proyecto ${title}`}
                    />
                    <div class="p-4">
                        <h3 class="text-xl font-semibold text-white mb-2">
                            {title}
                        </h3>
                        <p class="text-white/60 text-pretty mb-4">
                            {description}
                        </p>
                        <div class="flex gap-2 flex-wrap mb-4">
                            {tags.map(tag => (
                                <span class="bg-white/10 text-white/70 px-2 py-1 rounded-full text-sm">
                                    {tag}
                                </span>
                            ))}
                        </div>
                        <div class="flex gap-x-4">
                            <a 
                                href={github} 
                                class="bg-white/5 border border-white/10 rounded-full py-2 px-4 flex items-center gap-x-2 hover:scale-110 hover:bg-white/10 transition"
                            >
                                <svg 
                                    class="size-4" 
                                    viewBox="0 0 256 250" 
                                    fill="currentColor" 
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path d="M128.001 0C57.317 0 0 57.307 0 128.001c0 56.554 36.676 104.535 87.535 121.46 6.397 1.185 8.746-2.777 8.746-6.158 0-3.052-.12-13.135-.174-23.83-35.61 7.742-43.124-15.103-43.124-15.103-5.823-14.795-14.213-18.73-14.213-18.73-11.613-7.944.876-7.78.876-7.78 12.853.902 19.621 13.19 19.621 13.19 11.417 19.568 29.945 13.911 37.249 10.64 1.149-8.272 4.466-13.92 8.127-17.116-28.431-3.236-58.318-14.212-58.318-63.258 0-13.975 5-25.394 13.188-34.358-1.329-3.224-5.71-16.242 1.24-33.874 0 0 10.749-3.44 35.21 13.121 10.21-2.836 21.16-4.258 32.038-4.307 10.878.049 21.837 1.47 32.066 4.307 24.431-16.56 35.165-13.12 35.165-13.12 6.967 17.63 2.584 30.65 1.255 33.873 8.207 8.964 13.173 20.383 13.173 34.358 0 49.163-29.944 59.988-58.447 63.157 4.591 3.972 8.682 11.762 8.682 23.704 0 17.126-.148 30.91-.148 35.126 0 3.407 2.304 7.398 8.792 6.14C219.37 232.5 256 184.537 256 128.002 256 57.307 198.691 0 128.001 0Z"/>
                                </svg>
                                GitHub
                            </a>
                            <a 
                                href={link}
                                class="bg-white/5 border border-white/10 rounded-full py-2 px-4 flex items-center gap-x-2 hover:scale-110 hover:bg-white/10 transition"
                            >
                                <svg 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    class="size-4" 
                                    viewBox="0 0 24 24" 
                                    fill="none" 
                                    stroke="currentColor" 
                                    stroke-width="2" 
                                    stroke-linecap="round" 
                                    stroke-linejoin="round"
                                >
                                    <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                                    <polyline points="15 3 21 3 21 9"></polyline>
                                    <line x1="10" y1="14" x2="21" y2="3"></line>
                                </svg>
                                Visitar
                            </a>
                        </div>
                    </div>
                </article>
            ))
        }
    </div>

    <div class="flex justify-center w-full mt-6">
        <a href="/Proyectos">
        <button type="button" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700">
            Ver todos los proyectos <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" class="ml-2" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2"> <path d="M3 4m0 1a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1z"></path> <path d="M7 20l10 0"></path> <path d="M9 16l0 4"></path> <path d="M15 16l0 4"></path> <path d="M8 12l3 -3l2 2l3 -3"></path> </svg> 
        </button></a>
    </div>
</div>